<div
  layout:decorate="~{consultant/layouts/default}"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:fragment="content"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <div
    layout:replace="~{/consultant/layouts/components/pageTitle :: consultantPageTitle(title='Dashboard')}"
  ></div>

  <div class="row">
    <div class="col-md-12">
      <div class="card dash-card">
        <div class="card-body">
          <div th:if="${success}" class="row">
            <div class="col-md-12">
              <div class="card-body">
                <div class="alert alert-success" th:text="${success}"></div>
              </div>
            </div>
          </div>
          <div th:if="${error}" class="row">
            <div class="col-md-12">
              <div class="card-body">
                <div class="alert alert-danger" th:text="${error}"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-lg-4">
              <div class="dash-widget dct-border-rht">
                <div class="circle-bar circle-bar1">
                  <div class="circle-graph1" data-percent="100">
                    <img
                      src="#"
                      class="img-fluid"
                      th:alt="${pendingAppointments.size()}"
                    />
                  </div>
                </div>
                <div class="dash-widget-info">
                  <h6>Pending Appointments</h6>
                  <h3 th:text="${pendingAppointments.size()}"></h3>
                  <!--                  <p class="text-muted">Till Today</p>-->
                </div>
              </div>
            </div>

            <div class="col-md-12 col-lg-4">
              <div class="dash-widget dct-border-rht">
                <div class="circle-bar circle-bar2">
                  <div class="circle-graph2" data-percent="100">
                    <img
                      src="#"
                      class="img-fluid"
                      th:alt="${todayAppointments.size()}"
                    />
                  </div>
                </div>
                <div class="dash-widget-info">
                  <h6>Today Appointments</h6>
                  <h3 th:text="${todayAppointments.size()}"></h3>
                  <!--                  <p class="text-muted">06, Nov 2019</p>-->
                </div>
              </div>
            </div>

            <div class="col-md-12 col-lg-4">
              <div class="dash-widget">
                <div class="circle-bar circle-bar3">
                  <div class="circle-graph3" data-percent="100">
                    <img
                      src="#"
                      class="img-fluid"
                      th:alt="${upcomingAppointments.size()}"
                    />
                  </div>
                </div>
                <div class="dash-widget-info">
                  <h6>Upcoming Appointments</h6>
                  <h3 th:text="${upcomingAppointments.size()}"></h3>
                  <!--                  <p class="text-muted">06, Apr 2019</p>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4 class="mb-4">
        Appointments - TODO SEND MAIL TO SEEKER AFTER APPOINTMENT BOOKING ?? ->
        INFORM CONSULTANT TOO
        <br />
        TODO CHANGE PASSWORD BOTH CONSULTANT AND SEEKER
        <br />
        show appointment history for both cons and seekers
      </h4>
      <div class="appointment-tab">
        <!-- Appointment Tab -->
        <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded">
          <li class="nav-item">
            <a
              class="nav-link active"
              href="#pending-appointments"
              data-toggle="tab"
              >Pending</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#today-appointments" data-toggle="tab"
              >Today</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#upcoming-appointments" data-toggle="tab"
              >Upcoming</a
            >
          </li>
        </ul>
        <!-- /Appointment Tab -->

        <div class="tab-content">
          <!-- Upcoming Appointment Tab -->
          <div class="tab-pane show active" id="pending-appointments">
            <div class="card card-table mb-0">
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    class="table table-hover table-center p-5"
                    id="tablePendingAppointments"
                  >
                    <thead>
                      <tr>
                        <th>Job Seeker Name</th>
                        <th>Appointment Date</th>
                        <th>Timeslot</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        th:each="appointment : ${pendingAppointments}"
                        th:with="seeker=${appointment.getSeeker()}"
                      >
                        <td>
                          <h2 class="table-avatar">
                            <a href="#" class="avatar avatar-sm mr-2"
                              ><img
                                class="avatar-img rounded-circle"
                                th:src="${seeker.image}"
                                alt="User Image"
                            /></a>
                            <th:block
                              th:text="${seeker.getFullName()}"
                            ></th:block>
                          </h2>
                        </td>
                        <td
                          th:text="${appointment.getConsultantScheduleDate().date}"
                        ></td>
                        <td>
                          <span
                            class="btn btn-sm bg-info-light"
                            th:text="${appointment.getTimeslot().getSlotsString()}"
                          ></span>
                        </td>
                        <td class="text-right">
                          <div class="table-action">
                            <a
                              href="#"
                              th:href="@{/view/seeker(id=${seeker.id})}"
                              target="_blank"
                              class="btn btn-sm bg-info-light"
                            >
                              <i class="far fa-eye"></i> View Profile
                            </a>
                            <a
                              href="#"
                              th:href="@{/consultant/toggle-appointment-status(id=${appointment.id},status=1)}"
                              class="btn btn-sm bg-success-light"
                            >
                              <i class="fas fa-check"></i> Accept
                            </a>
                            <a
                              href="#"
                              th:href="@{/consultant/toggle-appointment-status(id=${appointment.id},status=-1)}"
                              class="btn btn-sm bg-danger-light"
                            >
                              <i class="fas fa-times"></i> Cancel
                            </a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /Upcoming Appointment Tab -->

          <!-- Today Appointment Tab -->
          <div class="tab-pane" id="today-appointments">
            <div class="card card-table mb-0">
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    id="tableTodayAppointments"
                    class="table table-hover table-center mb-0"
                  >
                    <thead>
                      <tr>
                        <th>Job Seeker Name</th>
                        <th>Timeslot</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        th:each="appointment : ${todayAppointments}"
                        th:with="seeker=${appointment.getSeeker()}"
                      >
                        <td>
                          <h2 class="table-avatar">
                            <a href="#" class="avatar avatar-sm mr-2"
                              ><img
                                class="avatar-img rounded-circle"
                                th:src="${seeker.image}"
                                alt="User Image"
                            /></a>
                            <a href="#" th:text="${seeker.getFullName()}"></a>
                          </h2>
                        </td>
                        <td>
                          <span
                            class="btn btn-sm bg-info-light"
                            th:text="${appointment.getTimeslot().getSlotsString()}"
                          ></span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /Today Appointment Tab -->
          <!-- Today Appointment Tab -->
          <div class="tab-pane" id="upcoming-appointments">
            <div class="card card-table mb-0">
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    id="tableUpcomingAppointments"
                    class="table table-hover table-center mb-0"
                  >
                    <thead>
                      <tr>
                        <th>Job Seeker Name</th>
                        <th>Appointment Date</th>
                        <th>Timeslot</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        th:each="appointment : ${upcomingAppointments}"
                        th:with="seeker=${appointment.getSeeker()}"
                      >
                        <td>
                          <h2 class="table-avatar">
                            <a href="#" class="avatar avatar-sm mr-2"
                              ><img
                                class="avatar-img rounded-circle"
                                th:src="${seeker.image}"
                                alt="User Image"
                            /></a>
                            <a href="#" th:text="${seeker.getFullName()}"></a>
                          </h2>
                        </td>
                        <td
                          th:text="${appointment.getConsultantScheduleDate().date}"
                        ></td>
                        <td>
                          <span
                            class="btn btn-sm bg-info-light"
                            th:text="${appointment.getTimeslot().getSlotsString()}"
                          ></span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /Today Appointment Tab -->
        </div>
      </div>
    </div>
  </div>
</div>

<script th:insert="~{/base/data-tables-config.js}"></script>
<script>
  $(document).ready(function () {
    $("#tablePendingAppointments").DataTable({
      ...dataTablesConfig("Pending Appointments List"),
      columnDefs: [
        {
          targets: 3,
          className: CLASS_NO_EXPORT,
        },
      ],
    });
    $("#tableTodayAppointments").DataTable(
      dataTablesConfig("Today Appointments List")
    );
    $("#tableUpcomingAppointments").DataTable(
      dataTablesConfig("Upcoming Appointments List")
    );
  });
</script>
