<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:replace="~{admin/layouts/header :: adminHeader}"></head>
  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <!-- Header -->
      <div th:replace="~{admin/layouts/navbar :: adminNavbar}"></div>
      <!-- /Header -->

      <!-- Sidebar -->
      <div th:replace="~{admin/layouts/sidebar :: adminSidebar}"></div>
      <!-- /Sidebar -->

      <!-- Page Wrapper -->
      <div class="page-wrapper">
        <div layout:fragment="content" class="content container-fluid"></div>
      </div>
      <!-- /Page Wrapper -->
    </div>
    <!-- /Main Wrapper -->
    <div th:replace="~{admin/layouts/footer :: adminFooterLinks}"></div>
  </body>

  <!--NO NEED - TEMPLATE HAS SUPPORT-->
  <!--<script>-->
  <!--    $(document).ready(function () {-->
  <!--        // auto open dropdown with the currentUrl-->
  <!--        openDropdown()-->
  <!--    })-->

  <!--    function openDropdown() {-->
  <!--        const parentEl = $("li.active").parent()-->
  <!--        const carotEl = $("li.active").parent().siblings('a')[0]-->

  <!--        $(carotEl).addClass('subdrop')-->
  <!--        $(parentEl).css('display', 'block')-->
  <!--    }-->
  <!--</script>-->
</html>
