<!--SEARCH ICONS -->
<!--https://icon-sets.iconify.design/?query=fe%3Adocument-->

<head th:fragment="adminHeader">
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=0"
  />
  <title
    th:text="${@environment.getProperty('spring.application.name')}"
  ></title>

  <!-- Favicon -->
  <link
    rel="shortcut icon"
    type="image/x-icon"
    th:href="@{/assets/admin/img/favicon.png}"
  />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" th:href="@{/assets/admin/css/bootstrap.min.css}" />

  <!-- Fontawesome CSS -->
  <link rel="stylesheet" th:href="@{/assets/admin/css/font-awesome.min.css}" />

  <!-- Feathericon CSS -->
  <link rel="stylesheet" th:href="@{/assets/admin/css/feathericon.min.css}" />

  <link rel="stylesheet" th:href="@{/assets/admin/plugins/morris/morris.css}" />

  <!-- Main CSS -->
  <link rel="stylesheet" th:href="@{/assets/admin/css/style.css}" />

  <!--[if lt IE 9]>
    <script th:src="@{/assets/admin//js/html5shiv.min.js}"></script>
    <script th:src="@{/assets/admin//js/respond.min.js}"></script>
  <![endif]-->

  <!--  jquery-->
  <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"
  ></script>

  <!--  datatables-->
  <link
    href="https://cdn.datatables.net/v/ju/datatables.min.css"
    rel="stylesheet"
  />
  <link
    href="https://cdn.datatables.net/v/bs5/jq-3.7.0/jszip-3.10.1/dt-1.13.6/b-2.4.1/b-colvis-2.4.1/b-html5-2.4.1/b-print-2.4.1/datatables.min.css"
    rel="stylesheet"
  />
</head>
