<!--DECLARE THYMELEAF VARIABLE-->
<!--THYMELEAF VARIABLES ARE ONLY WORKS WITHIN THE DECLARED TAG-->
<div
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  th:fragment="adminSidebar"
  class="sidebar"
  id="sidebar"
  th:with="currentUrl=${#ctx.springRequestContext.requestUri}"
>
  <div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
      <ul
        sec:authorize="hasRole('ADMIN')"
        th:replace="~{/admin/layouts/components/sidebars/adminSidebar}"
      ></ul>
      <ul
        sec:authorize="hasRole('CONSULTANT')"
        th:replace="~{/admin/layouts/components/sidebars/consultantSidebar}"
      ></ul>
    </div>
  </div>
</div>
