<!-- ***** ALWAYS START WITH content container-fluid ***** -->
<div
  layout:decorate="~{admin/layouts/default}"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:fragment="content"
  class="content container-fluid"
>
  <!-- Page Header -->
  <!--    <div class="page-header">-->
  <!--        <div class="row">-->
  <!--            <div class="col-sm-12">-->
  <!--                <h3 class="page-title">Welcome Admin!</h3>-->
  <!--                <ul class="breadcrumb">-->
  <!--                    <li class="breadcrumb-item active">Dashboard</li>-->
  <!--                </ul>-->
  <!--            </div>-->
  <!--        </div>-->
  <!--    </div>-->
  <div
    layout:replace="~{admin/layouts/components/pageTitle :: adminPageTitle(title='Dashboard') }"
  ></div>
  <!-- /Page Header -->
  <!--  <span th:text="${#ctx.springRequestContext.requestUri}"></span>-->
  <div class="row">
    <div
      class="col-12 alert alert-success my-3"
      th:if="${success}"
      th:text="${success}"
    ></div>
  </div>

  <div class="row">
    <div class="col-xl-6 col-sm-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="dash-widget-header">
            <span class="dash-widget-icon text-primary border-primary">
              <i class="fe fe-users"></i>
            </span>
            <div class="dash-count">
              <h3 th:text="${consultants.size()}"></h3>
            </div>
          </div>
          <div class="dash-widget-info">
            <h6 class="text-muted">Consultants</h6>
            <div class="progress progress-sm">
              <div class="progress-bar bg-primary w-100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-sm-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="dash-widget-header">
            <span class="dash-widget-icon text-danger">
              <i class="fe fe-users"></i>
            </span>
            <div class="dash-count">
              <h3 th:text="${seekers.size()}"></h3>
            </div>
          </div>
          <div class="dash-widget-info">
            <h6 class="text-muted">Seekers</h6>
            <div class="progress progress-sm">
              <div class="progress-bar bg-danger w-100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="appointment-tab">
        <!-- Appointment Tab -->
        <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded">
          <li class="nav-item">
            <a class="nav-link active" href="#consultantsList" data-toggle="tab"
              >Consultants List</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#seekersList" data-toggle="tab"
              >Seekers List</a
            >
          </li>
        </ul>
        <!-- /Appointment Tab -->
      </div>

      <div class="tab-content">
        <!-- Upcoming Appointment Tab -->
        <div class="tab-pane show active" id="consultantsList">
          <!-- Recent Orders -->
          <div class="card card-table">
            <div class="card-body">
              <div class="table-responsive">
                <table
                  id="tableConsultantsList"
                  class="table table-hover table-center mb-0"
                >
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Consultant</th>
                      <th>Email</th>
                      <th>Phone No.</th>
                      <th>Charge Per Hour</th>
                      <th>Status</th>
                      <!--                  <th class="text-right">Actions</th>-->
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="consultant,loop : ${consultants}">
                      <td th:text="${loop.index+1}"></td>
                      <td>
                        <h2 class="table-avatar">
                          <a href="#" class="avatar avatar-sm mr-2"
                            ><img
                              class="avatar-img rounded-circle"
                              th:src="${consultant.image}"
                              alt=""
                          /></a>
                          <a
                            th:text="${consultant.firstname + ' ' + consultant.lastname}"
                          ></a>
                        </h2>
                      </td>
                      <td>
                        <span th:text="${consultant.user.username}"></span>
                      </td>
                      <td><span th:text="${consultant.phone}"></span></td>
                      <td>
                        LKR <span th:text="${consultant.chargePerHour}"></span>
                      </td>
                      <td>
                        <div class="status-toggle">
                          <input
                            th:attr="data-delete-url=@{/admin/toggle-active(
                        id=${consultant.getUser().id},
                        toggle=${consultant.getUser().enabled}
                        )}"
                            oninput="toggleStatus(this)"
                            type="checkbox"
                            th:id="'status_'+${{consultant.id}}"
                            class="check"
                            th:checked="${consultant.getUser().enabled}"
                          />
                          <label
                            th:for="'status_'+${{consultant.id}}"
                            class="checktoggle"
                            >checkbox</label
                          >
                        </div>
                      </td>
                      <td>
                        <a
                          href="#"
                          th:href="@{/admin/consultant/edit(id=${consultant.getUser().getId()})}"
                          class="btn btn-warning"
                          >Edit</a
                        >
                        <a
                          href="#"
                          th:href="@{/view/consultant(id=${consultant.id})}"
                          target="_blank"
                          class="btn btn-outline-info ml-2"
                        >
                          View Profile <i class="fa fa-external-link"></i
                        ></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- /Recent Orders -->
        </div>
        <div class="tab-pane" id="seekersList">
          <div class="card card-table">
            <div class="card-body">
              <div class="table-responsive">
                <table
                  id="tableSeekersList"
                  class="table table-hover table-center mb-0"
                >
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Seeker</th>
                      <th>Email</th>
                      <th>Phone No.</th>
                      <th>Status</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="seeker,loop : ${seekers}">
                      <td th:text="${loop.index+1}"></td>
                      <td>
                        <h2 class="table-avatar">
                          <a href="#" class="avatar avatar-sm mr-2"
                            ><img
                              class="avatar-img rounded-circle"
                              th:src="${seeker.image}"
                              alt=""
                          /></a>
                          <a th:text="${seeker.fullName}"></a>
                        </h2>
                      </td>
                      <td>
                        <span th:text="${seeker.user.username}"></span>
                      </td>
                      <td><span th:text="${seeker.phone}"></span></td>
                      <td>
                        <div class="status-toggle">
                          <input
                            th:attr="data-delete-url=@{/admin/toggle-active(
                        id=${seeker.user.id},
                        toggle=${seeker.user.enabled}
                        )}"
                            oninput="toggleStatus(this)"
                            type="checkbox"
                            th:id="'status_seeker_'+${{seeker.id}}"
                            class="check"
                            th:checked="${seeker.getUser().enabled}"
                          />
                          <label
                            th:for="'status_seeker_'+${{seeker.id}}"
                            class="checktoggle"
                            >checkbox</label
                          >
                        </div>
                      </td>
                      <td>
                        <a
                          href="#"
                          th:href="@{/view/seeker(id=${seeker.id})}"
                          target="_blank"
                          class="btn btn-outline-info ml-2"
                        >
                          View Profile <i class="fa fa-external-link"></i
                        ></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function toggleStatus(el) {
      // return console.log(el.dataset);
      location = el.dataset.deleteUrl;
    }
  </script>

  <script th:insert="~{/base/data-tables-config.js}"></script>
  <script>
    $(document).ready(function () {
      $("#tableConsultantsList").DataTable({
        ...dataTablesConfig("Consultants List"),
        columnDefs: [
          {
            targets: 5,
            className: CLASS_NO_EXPORT,
          },
          {
            targets: 6,
            className: CLASS_NO_EXPORT,
          },
        ],
      });

      $("#tableSeekersList").DataTable({
        ...dataTablesConfig("Seekers List"),
        columnDefs: [
          {
            targets: 4,
            className: CLASS_NO_EXPORT,
          },
          {
            targets: 5,
            className: CLASS_NO_EXPORT,
          },
        ],
      });
    });
  </script>
</div>
