<!-- ***** ALWAYS START WITH content container-fluid ***** -->
<div
  layout:decorate="~{admin/layouts/default}"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:fragment="content"
  class="content container-fluid"
>
  <!-- Page Header -->
  <!--    <div class="page-header">-->
  <!--        <div class="row">-->
  <!--            <div class="col-sm-12">-->
  <!--                <h3 class="page-title">Welcome Admin!</h3>-->
  <!--                <ul class="breadcrumb">-->
  <!--                    <li class="breadcrumb-item active">Dashboard</li>-->
  <!--                </ul>-->
  <!--            </div>-->
  <!--        </div>-->
  <!--    </div>-->
  <div
    layout:replace="~{admin/layouts/components/pageTitle :: adminPageTitle(title='Dashboard') }"
  ></div>
  <!-- /Page Header -->
  <!--  <span th:text="${#ctx.springRequestContext.requestUri}"></span>-->
  <div class="row">
    <div
      class="col-12 alert alert-success my-3"
      th:if="${success}"
      th:text="${success}"
    ></div>
  </div>

  TODO = show counts
  <div class="row">
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="dash-widget-header">
            <span class="dash-widget-icon text-primary border-primary">
              <i class="fe fe-users"></i>
            </span>
            <div class="dash-count">
              <h3>168</h3>
            </div>
          </div>
          <div class="dash-widget-info">
            <h6 class="text-muted">Doctors</h6>
            <div class="progress progress-sm">
              <div class="progress-bar bg-primary w-50"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="dash-widget-header">
            <span class="dash-widget-icon text-success">
              <i class="fe fe-credit-card"></i>
            </span>
            <div class="dash-count">
              <h3>487</h3>
            </div>
          </div>
          <div class="dash-widget-info">
            <h6 class="text-muted">Patients</h6>
            <div class="progress progress-sm">
              <div class="progress-bar bg-success w-50"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="dash-widget-header">
            <span class="dash-widget-icon text-danger border-danger">
              <i class="fe fe-money"></i>
            </span>
            <div class="dash-count">
              <h3>485</h3>
            </div>
          </div>
          <div class="dash-widget-info">
            <h6 class="text-muted">Appointment</h6>
            <div class="progress progress-sm">
              <div class="progress-bar bg-danger w-50"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="dash-widget-header">
            <span class="dash-widget-icon text-warning border-warning">
              <i class="fe fe-folder"></i>
            </span>
            <div class="dash-count">
              <h3>$62523</h3>
            </div>
          </div>
          <div class="dash-widget-info">
            <h6 class="text-muted">Revenue</h6>
            <div class="progress progress-sm">
              <div class="progress-bar bg-warning w-50"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <!-- Recent Orders -->
      <div class="card card-table">
        <div class="card-header">
          <h4 class="card-title">Consultants List</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover table-center mb-0">
              <thead>
                <tr>
                  <th>Consultant</th>
                  <th>Phone No.</th>
                  <th>Charge Per Hour</th>
                  <th>Status</th>
                  <!--                  <th class="text-right">Actions</th>-->
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="consultant : ${consultants}">
                  <td>
                    <h2 class="table-avatar">
                      <a href="#" class="avatar avatar-sm mr-2"
                        ><img
                          class="avatar-img rounded-circle"
                          th:src="${consultant.image}"
                          alt=""
                      /></a>
                      <a
                        th:text="${consultant.firstname + ' ' + consultant.lastname}"
                      ></a>
                    </h2>
                  </td>
                  <td><span th:text="${consultant.phone}"></span></td>
                  <td>
                    LKR <span th:text="${consultant.chargePerHour}"></span> LKR
                  </td>
                  <td>
                    <div class="status-toggle">
                      <input
                        th:attr="data-delete-url=@{/admin/consultant/toggle-active(
                        id=${consultant.getUser().id},
                        toggle=${consultant.getUser().enabled}
                        )}"
                        oninput="toggleStatus(this)"
                        type="checkbox"
                        th:id="'status_'+${{consultant.id}}"
                        class="check"
                        th:checked="${consultant.getUser().enabled}"
                      />
                      <label
                        th:for="'status_'+${{consultant.id}}"
                        class="checktoggle"
                        >checkbox</label
                      >
                    </div>
                  </td>
                  <td>
                    <a
                      href="#"
                      th:href="@{/admin/consultant/edit(id=${consultant.getUser().getId()})}"
                      class="btn btn-warning"
                      >Edit</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- /Recent Orders -->
    </div>
  </div>
</div>

<script>
  function toggleStatus(el) {
    // console.log(el.data
    location = el.dataset.deleteUrl;
  }
</script>
