<header th:fragment="navbar" class="header">
  <nav class="navbar navbar-expand-lg header-nav">
    <div class="navbar-header">
      <a id="mobile_btn" href="javascript:void(0);">
        <span class="bar-icon">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </a>
      <a
        href="#"
        class="navbar-brand logo"
        th:text="${@environment.getProperty('spring.application.name')}"
      >
      </a>
    </div>
    <div class="main-menu-wrapper">
      <!--      <div class="menu-header">-->
      <!--        <a href="index-2.html" class="menu-logo">-->
      <!--          <img src="assets/img/logo.png" class="img-fluid" alt="Logo" />-->
      <!--        </a>-->
      <!--        <a id="menu_close" class="menu-close" href="javascript:void(0);">-->
      <!--          <i class="fas fa-times"></i>-->
      <!--        </a>-->
      <!--      </div>-->
      <ul class="main-nav">
        <li>
          <a href="/">Home</a>
        </li>
        <!--        <li class="has-submenu active">-->
        <!--          <a href="#">Doctors <i class="fas fa-chevron-down"></i></a>-->
        <!--          <ul class="submenu">-->
        <!--            <li class="active">-->
        <!--              <a href="doctor-dashboard.html">Doctor Dashboard</a>-->
        <!--            </li>-->
        <!--            <li><a href="appointments.html">Appointments</a></li>-->
        <!--            <li><a href="schedule-timings.html">Schedule Timing</a></li>-->
        <!--            <li><a href="my-patients.html">Patients List</a></li>-->
        <!--            <li><a href="patient-profile.html">Patients Profile</a></li>-->
        <!--            <li><a href="chat-doctor.html">Chat</a></li>-->
        <!--            <li><a href="invoices.html">Invoices</a></li>-->
        <!--            <li>-->
        <!--              <a href="doctor-profile-settings.html">Profile Settings</a>-->
        <!--            </li>-->
        <!--            <li><a href="reviews.html">Reviews</a></li>-->
        <!--            <li><a href="doctor-register.html">Doctor Register</a></li>-->
        <!--          </ul>-->
        <!--        </li>-->
        <!--        <li class="login-links">-->
        <!--          <a href="login.html">Login / Signup</a>-->
        <!--        </li>-->
      </ul>
    </div>
    <ul class="nav header-navbar-rht">
      <li class="nav-item contact-item">
        <div class="header-contact-detail">
          <form action="#" th:action="@{/logout}" method="post">
            <button class="btn btn-primary">Logout</button>
          </form>
        </div>
      </li>
    </ul>
  </nav>
</header>
