<div
  th:fragment="sidebar"
  class="profile-sidebar"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  th:with="
  currentUrl=${#ctx.springRequestContext.requestUri},
  conusltant=${@utilThymeleaf.getConsultant()}
"
>
  <div class="widget-profile pro-widget-content">
    <div class="profile-info-widget">
      <a th:if="${consultant?.image}" href="#" class="booking-doc-img">
        <img src="#" th:src="${consultant?.image}" alt="User Image" />
      </a>
      <div class="profile-det-info">
        <h3 th:text="${conusltant.firstname + ' ' + conusltant.lastname }"></h3>

        <div class="patient-details">
          <h5 class="mb-0" sec:authentication="principal.username"></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-widget">
    <nav class="dashboard-menu">
      <ul>
        <li
          th:classappend="${currentUrl == '/consultant/dashboard'} ? active : ''"
        >
          <a href="#" th:href="@{/consultant/dashboard}">
            <i class="fas fa-columns"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li
          th:classappend="${currentUrl == '/consultant/profile/edit'} ? active : ''"
        >
          <a href="#" th:href="@{/consultant/profile/edit}">
            <i class="fas fa-user-cog"></i>
            <span>Profile Settings</span>
          </a>
        </li>
        <li>
          <a href="#" th:href="@{/consultant/schedule}">
            <i class="fas fa-calendar-check"></i>
            <span>Schedule</span>
          </a>
        </li>
        <li>
          <a href="my-patients.html">
            <i class="fas fa-user-injured"></i>
            <span>TODO - My Patients</span>
          </a>
        </li>
        <li>
          <a href="reviews.html">
            <i class="fas fa-star"></i>
            <span>TODO - Reviews</span>
          </a>
        </li>
        <li>
          <a href="doctor-change-password.html">
            <i class="fas fa-lock"></i>
            <span>TODO - Change Password</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
