<!-- Header / Navbar -->
<header
  th:fragment="navbar"
  class="header"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <nav class="navbar navbar-expand-lg header-nav">
    <div class="navbar-header">
      <a id="mobile_btn" href="javascript:void(0);">
        <span class="bar-icon">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </a>
      <a href="index-2.html" class="navbar-brand logo">
        <img src="assets/img/logo.png" class="img-fluid" alt="Logo" />
      </a>
    </div>
    <div class="main-menu-wrapper">
      <div class="menu-header">
        <a href="index-2.html" class="menu-logo">
          <img src="assets/img/logo.png" class="img-fluid" alt="Logo" />
        </a>
        <a id="menu_close" class="menu-close" href="javascript:void(0);">
          <i class="fas fa-times"></i>
        </a>
      </div>
      <ul class="main-nav">
        <li class="active">
          <a href="/">Home</a>
        </li>
        <li class="has-submenu">
          <a href="#">Countries <i class="fas fa-chevron-down"></i></a>
          <ul class="submenu">
            <li th:each="country : ${@utilThymeleaf.getCountries()}">
              <a
                href="#"
                th:href="@{/countries/id(id=${country.id})}"
                th:text="${country.name}"
              ></a>
            </li>
          </ul>
        </li>
        <li class="has-submenu">
          <a href="#">Industries <i class="fas fa-chevron-down"></i></a>
          <ul class="submenu">
            <li th:each="industry : ${@utilThymeleaf.getIndustries()}">
              <a
                href="#"
                th:href="@{/industries/id(id=${industry.id})}"
                th:text="${industry.name}"
              ></a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Consultants</a>
        </li>

        <!--        <li class="login-link">-->
        <!--          <a sec:authorize="isAnonymous()" th:href="@{/login}"-->
        <!--            >Login / Signup</a-->
        <!--          >-->
        <!--        </li>-->
      </ul>
    </div>
    <ul class="nav header-navbar-rht">
      <li sec:authorize="hasRole('SEEKER')">
        <a
          href="#"
          th:href="@{/view/seeker(id=${@utilThymeleaf.getAuthUser().getSeeker().id})}"
          >My Profile</a
        >
      </li>
      <li sec:authorize="hasRole('CONSULTANT')">
        <a href="#" th:href="@{/consultant/dashboard}">Dashboard</a>
      </li>
      <li class="nav-item contact-item">
        <div class="header-contact-detail">
          <p
            class="contact-info-header"
            sec:authorize="isAuthenticated()"
            sec:authentication="principal.username"
          ></p>
        </div>
      </li>
      <li class="nav-item">
        <a
          class="nav-link header-login"
          th:href="@{/login}"
          sec:authorize="isAnonymous()"
          >login / Signup</a
        >
        <form
          name="formLogoutPc"
          action="#"
          th:action="@{/logout}"
          method="post"
        >
          <a
            href="#"
            type="button"
            onclick="formLogoutPc.submit()"
            class="nav-link header-login"
            sec:authorize="isAuthenticated()"
          >
            Logout
          </a>
        </form>
      </li>
    </ul>
  </nav>
</header>
<!-- /Header -->
