<div
  layout:decorate="layouts/default"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:fragment="content"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <!-- Breadcrumb -->
  <div class="breadcrumb-bar">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-12 col-12">
          <h2 class="breadcrumb-title">Change Password</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- /Breadcrumb -->

  <div class="content">
    <div class="container">
      <!-- Doctor Details Tab -->
      <div class="card p-5">
        <div class="card-body pt-0">
          <form
            method="post"
            enctype="multipart/form-data"
            th:action="@{/change-password}"
            th:object="${changePasswordDto}"
          >
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="currentPassword">Current Password</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    id="currentPassword"
                    placeholder="Current Password"
                    name="currentPassword"
                    th:classappend="${#fields.hasErrors('currentPassword')} ? 'is-invalid' : ''"
                    th:field="*{currentPassword}"
                  />
                  <div
                    th:if="${#fields.hasErrors('currentPassword')}"
                    th:errors="*{currentPassword}"
                    class="invalid-feedback"
                  ></div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="newPassword">New Password</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    id="newPassword"
                    placeholder="New Password"
                    name="newPassword"
                    th:classappend="${#fields.hasErrors('newPassword')} ? 'is-invalid' : ''"
                    th:field="*{newPassword}"
                  />
                  <div
                    th:if="${#fields.hasErrors('newPassword')}"
                    th:errors="*{newPassword}"
                    class="invalid-feedback"
                  ></div>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="confirmPassword">Confirm Password</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    id="confirmPassword"
                    placeholder="Confirm Password"
                    name="confirmPassword"
                    th:classappend="${#fields.hasErrors('confirmPassword')} ? 'is-invalid' : ''"
                    th:field="*{confirmPassword}"
                  />
                  <div
                    th:if="${#fields.hasErrors('confirmPassword')}"
                    th:errors="*{confirmPassword}"
                    class="invalid-feedback"
                  ></div>
                </div>
              </div>
            </div>

            <input type="hidden" th:field="*{id}" />
            <button class="btn btn-primary float-right" type="submit">
              Update
            </button>
          </form>
        </div>
      </div>
      <!-- /Doctor Details Tab -->
    </div>
  </div>
</div>
