<div
  layout:decorate="~{consultant/layouts/default}"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:fragment="content"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <div
    layout:replace="~{/consultant/layouts/components/pageTitle :: consultantPageTitle(title='Schedule')}"
  ></div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-12">
              <a
                href="#"
                th:href="@{/consultant/schedule/create}"
                class="btn btn-primary btn-sm float-right text-light mx-3"
                type="button"
              >
                Create Schedule
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-hover table-center mb-0">
                  <thead>
                    <tr>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      th:each="date : ${consultantScheduleDates}"
                      th:classappend="${@utilThymeleaf.isPastDate(date.getDate())
                        ? 'bg-default-light'
                        : ''
                      }"
                    >
                      <td th:text="${date.getDate()}"></td>
                      <td class="text-right">
                        <div class="table-action">
                          <a
                            th:href="@{/consultant/schedule/edit(id=${date.id})}"
                            href="#"
                            class="btn btn-warning btn-sm"
                            th:classappend="${@utilThymeleaf.isPastDate(date.getDate())
                              ? 'disabled'
                              : ''
                            }"
                            >Update Schedule</a
                          >
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
