<!DOCTYPE html>
<html lang="en">
  <head th:replace="~{admin/layouts/header :: adminHeader}"></head>
  <body class="error-page">
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <div class="error-box">
        <h1 th:text="${status}"></h1>
        <h3 class="h2 mb-3">
          <i class="fa fa-warning"></i> <span th:text="${message}"></span>
        </h3>
        <a href="#" onclick="history.back()" class="btn btn-primary">Go Back</a>
        <a href="#" th:href="@{/}" class="btn btn-primary">Back to Home</a>
      </div>
    </div>
    <!-- /Main Wrapper -->
  </body>
</html>
